
<div class="page-content row justify-content-center">
  <div class="col-12 col-md-11 h-100">
    <div class="row justify-content-center">
      <div class="col-auto">
        <h2><%= @article.title %></h2>
      </div>
      <div class="col text-left vertical-center">
        <span class="badge rounded-pill article-status-badge-<%= @article.status %> px-2 py-1"><%= @article.status %></span>
      </div>
    </div>
    <div class="row my-4">
      <div class="col-12 col-md-10">
        <p class="article-body-text"><%= @article.body %></p>
      </div>
    </div>
    <div class="row justify-content-end">
      <% if @article.edition_counter > 0 %>
        <div class="col text-left">
          <small>Edited <%= @article.edition_counter %> times</small><br/>
          <small>Last edited <%= time_ago_in_words(@article.updated_at) %> ago</small><br/>
        </div>
      <% end %>
      <div class="col-4 mt-4">
        <small class="float-end">Written by: <%= @article.user.username %></small><br/>
        <small class="float-end"><%= time_ago_in_words(@article.created_at) %> ago</small><br/>
      </div>
    </div>
    <div class="row mt-2 justify-content-end">
      <% if @article.draft? %>
        <div class="col-auto">
          <%= link_to fa_icon('upload'), submit_draft_path_url(@article), class: "action-icons", method: :put %>
        </div>
      <% end %>
      <%# edit feature is only available if the articles are not LIVE%>
      <% if !@article.live? %>
        <div class="col-auto">
          <%= link_to fa_icon('edit'), edit_article_path(@article), class: "action-icons" %>
        </div>
      <% end %>
      <div class="col-auto">
        <%= link_to fa_icon('trash'), article_path(@article), method: :delete, data: { confirm: "Confirm deletion of article \"#{@article.title.capitalize}\"?"}, class: "action-icons" %>
      </div>
    </div>
  </div>
</div>