<h1>Authors</h1>
<% @users.each do |user| %>
  <span>Username: <%= user.username %></span><br/>
  <%# TODO: bad idea to show email, add a share_info boolean which can be toggled in a settings screen
      by toggling the user accepts to make his email public, then we just do conditional rendering here
  %>
  <span>Email: <%= user.email %></span><br/>
  <span>Joined <%= time_ago_in_words(user.created_at) %> ago</span><br/>
  <%= link_to 'View', user_path(user) %>
  <%= link_to 'Edit', edit_user_path(user) %>
  <%= link_to 'Delete', user_path(user), method: :delete, data: { confirm: "Confirm deletion of User \"#{user.username}\"?"} %>
  <br/>
  <br/>
  <br/>
<% end %>
<br/>