<div class="page-content row justify-content-center">
  <div class="col-12 col-md-10 h-100">
    <div class="row justify-content-center">
      <div class="col-auto">
        <h2><%= @user.username %>'s Profile  </h2>
      </div>
      <% if current_user == @user %>
        <div class="col-auto vertical-center">
          <%= link_to fa_icon('edit'), edit_user_path(@user), class: "action-icons col-auto offset-3" %>
        </div>
      <% end %>
    </div>
    <div class="row mt-4">
      <div class="col-1">
        <strong>Email</strong>
      </div>
      <div class="col-auto">
        <%= @user.email %>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <strong>Authored </strong>
      </div>
      <div class="col-auto">
        <%= @user.articles.length %> posts
      </div>
    </div>
    <div class="row">
      <div class="col-auto">
        Joined <%= time_ago_in_words(@user.created_at) %> ago
      </div>
    </div>
    <% if @articles.length > 0 %>
      <div class="row mt-4 justify-content-center">
        <h2 class="mb-4 text-center"><%= @user.username %>'s Articles</h2>
        <%= render 'shared/pagination', obj: @articles %>
        <%= render 'articles/articles_list' %>
        <%= render 'shared/pagination', obj: @articles %>
      </div>
    <% end %>
  </div>
</div>