
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href=<%= root_path %>>
      <%= image_tag("RuntimeRevolution.png", :alt => "Runtime Revolution Blog", :class => "brand-logo") %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Browse Authors", users_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            List Articles
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><%= link_to "Browse Articles", articles_path, class: "dropdown-item" %></li>
            <%# TODO: access route with a filter for status %>
            <li><%= link_to "Your Articles", articles_path, class: "dropdown-item" %></li>
          </ul>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign up', signup_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
    <%# TODO: Add search functionality %>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search Articles" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Browse</button>
    </form>
  </div>
</nav>