<!DOCTYPE html>
<html>
  <head>
    <title>RROnboardingBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <%# flash messages shared component is added to every page in the application %>
    <%= render 'shared/flash_messages' %> 
    <%# adds a margin to page content %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
